
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap" rel="stylesheet');

:root {
 
  --primary-color: #66101f   ;
  --secondary-color: #855a5c ;
  --accent1-color: #000501;
  --accent2-color: #f0f2fa;

  /* values below are the chosen font(s) */
  --heading-font: 'Montserrat', sans-serif;
  --paragraph-font: 'Poppins', sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #000501;  /* headlines on a white background */ 
  --headline-color-on-color: #f0f2fa; /* headlines on a colored background */ 
  --paragraph-color-on-white: #000501; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #f0f2fa; /* paragraph text on a colored background */ 
  --paragraph-background-color: #66101f  ;
  /* --nav-link-color: #E0E0E0;
  --nav-background-color: #091D3C;
  --nav-hover-link-color: #D52E2D;
  --nav-hover-background-color: #E0E0E0; */
}


/*  Look around below...but DON'T CHANGE ANYTHING! */

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
ul{
  text-align: left;
  font-family: 'Poppins', sans-serif;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
  color: #f0f2fa;
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
  color: #f0f2fa;
}
.accent2{
  background-color: var(--accent2-color);
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;

}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;

}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

