
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap" rel="stylesheet');


body {
    display: grid;
    height: 100vh;
    margin:0 ;
    place-items: center;
    font-family: Montserrat ;
    grid-template: 190px auto 1fr auto /  1fr;
  }
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgreen;
    padding: 20px;
}
header h1 {
    color: #E0E0E0;
}
header img{
    width: 100px;
    height: auto;
    margin-right: 20px;
}
nav{
    display: flex;
    justify-content: space-around;
    margin-bottom: -10px;
    background-color: #0E0E0E;
}
nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    background-color: white;
    color: black;
}
h2 {
    text-align: center;
    text-decoration: underline;
}
.card {
    border: 2px solid black;
    color: black;
    padding: 20px;
}
.card-container {
    display: flex;
    justify-content: space-around;
}

.card {
    border: 2px solid black;
    color: black;
    padding: 20px;
    flex: 1; /* Distribute available space evenly among cards */
    margin: 10px; /* Adjust margin between cards as needed */
}
h3{
    text-align: center;
    background-color: darkgreen;
    color: white;
}
.card ul {
    list-style: none; 
    counter-reset: list-counter; 
    padding-left: 0;
}
.card ul li::before {
    content: counter(list-counter);
    counter-increment: list-counter;
    margin-right: 10px;
}
#menu{
    display: none;
    z-index: 1;
}
#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}
.hero-container{
    position: relative;
    max-width: 100%;
   
}

.hero-container img{
    width: 100%;
    height: auto;
}

.overlay-text{
    position: absolute;
    top: 30%;
    left: 35%;
    z-index: 1;
    text-align: center;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    background-color:rgb(175,190,224,0.5);
    box-shadow: 0 0 3rem #fff;
}   



